include *.txt setup.py MANIFEST.in
graft examples
graft src
graft setup-lib
graft tools
graft scripts
global-exclude .DS_store
global-exclude *.pbxuser
global-exclude *.pyc
global-exclude *.pyo
global-exclude .*.swp
