mi						{ color: black }

div.part a:link,
div.toc a:link,
div.refsect1 a:link,
div.refsynopsisdiv a:link,
div.chapter a:link,
div.appendix a:link,
div.section a:link,
div.book a:link			{ color: #113b89 }

div.part a:active,
div.part a:visited, 
div.toc a:active,
div.toc a:visited, 
div.refsect1 a:active,
div.refsect1 a:visited, 
div.refsynopsisdiv a:active,
div.refsynopsisdiv a:visited, 
div.chapter a:active,
div.chapter a:visited, 
div.appendix a:active,
div.appendix a:visited, 
div.section a:active,
div.section a:visited, 
div.book a:visited,
div.book a:active		{ color: #071960 }

div.navfooter a:active,
div.navheader a:active	{ color: yellow }


h1,
h3,
h4,
div.title,
div.navfooter,
div.navfooter td,
div.navfooter th,
div.navfooter a,
div.navfooter a:link,
div.navfooter a:visted,
div.navheader,
div.navheader td,
div.navheader th,
div.navheader a,
div.navheader a:link,
div.navheader a:visted	{
	background-color: #113b89;
	color: white;
	background-image: url(greypinstripe.png);
}



pre.programlisting		{ color: #113b89 }


hr						{ background-color: #113b89; color: #113b89; }

div.abstract,
h3.author,
body					{ font-family: Arial, Helvetica, sans-serif;
						  color: black;
						  background-color: white }


h2 { 
	background-image: url(greypinstripe.png);
	color: #111144;
}
div.navheader, div.navfooter {
	background-color: #113b89;
	color: black;
	background-image: url(greypinstripe.png);
}
						  
div.variablelist,
.funcprototype,
p {
	margin-left: 20;
}
.