{
	FilesToMacroExpand = (
		"English.lproj/InfoPlist.strings",
		"bin-python-main.m",
		"__main__.py",
		"MyAppDelegate.py",
		"MyDocument.py",
		"Credits.rtf"
	);

	Description = "This project builds a Cocoa-based application written in Python that uses the NSDocument multiple-document handling architecture.  See the README in Cocoa-Python Application for details on the integration with the PyObjC bridge and compatibility with Apple's version of Python.";
}
