build
dist
.DS_Store
__pycache__
autom4te.cache
htmlcov
.coverage
new-bindings
.eggs
wheel-dir
distribution-dir
test-results
test-env
testenv
workenv
docs/examples
.mypy_cache
build-info.txt
pyobjc-core/Tools/results/

syntax: glob
*.so
*.egg-info
*.dSYM
*.pyc
*.py-e
*.pye
*.pyo
*.orig
unittest2-*.egg
*.swp
.coverage.*
