minimum_pre_commit_version: "3.0"
repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
    -   id: pyupgrade
        args: ['--py38-plus']

  - repo: https://github.com/psf/black
    rev: 24.4.0
    hooks:
      - id: black
        language_version: python3.10
        # override until resolved: https://github.com/ambv/black/issues/402
        files: \.pyi?$
        types: []

  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--config", ".flake8" ]
        language_version: python3.10
        additional_dependencies:
        - flake8-bugbear
        - flake8-deprecated
        - flake8-comprehensions
        - flake8-isort
        - flake8-mutable
        - flake8-todo
        - flake8-builtins
#
#  - repo: https://github.com/pre-commit/mirrors-isort
#    rev: v4.3.21
#    hooks:
#      - id: isort
#        additional_dependencies: [toml]
#        language_version: python3.10
#

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.3'
    hooks:
    - id: clang-format
      types: [c, objective-c]


  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        args: ["--config", ".codespellrc"]
        exclude: PyObjCTest|_metadata\.py$|\.fwinfo$|\.rtf$|\.mht$

  - repo: local
    hooks:
    - id: lcov-annotations
      name: lcov-annotations
      language: script
      pass_filenames: false
      types: [c, objective-c]
      entry: ./development-support/validate-lcov.sh
    - id: fwinfo-valid-json
      name: fwinfo-valid-json
      language: python
      language_version: python3.10
      entry: ./development-support/validate-fwinfo

#  - repo: https://github.com/pre-commit/mirrors-clang-format
#    rev: 'v13.0.0'
#    hooks:
#    -   id: clang-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
#      - id: debug-statements
