.banner {
	background-image: url("../img/stripes.gif");
}

span.headbanner {
	font-family: "Trebuchet MS",arial,helvetica,sans-serif;
	font-size: 48pt;
	font-weight: bold;
}

span.subbanner {
	font-family: "Trebuchet MS",arial,helvetica,sans-serif;
	font-size: medium;
	font-weight: bold;
}

.news {
        font-style: italic;
        color: #6666cc;
        font-size:small;
}

body {
  color:black;
  background-color:white;
  font-family:"Trebuchet MS",sans-serif;
}

a:link {
  color:rgb(0,0,240);
}
a:visited {
  color:rgb(128,0,128);
}
a:active {
  color:rgb(255,51,51);
}

p,ul,ol,li,dl,dt,dd,td,th {
  color:black;
  font-family:"Trebuchet MS",sans-serif;
  font-size:11pt;
}

td.layout {
  font-size:0px;
}

h1 {
  color:black;
  font-family:"Trebuchet MS",sans-serif;
  font-size:18pt;
  font-weight:bold;
}

h2 {
  color:black;
  font-family:"Trebuchet MS",sans-serif;
  font-size:12pt;
  font-weight:bold;
}

.default {
  color:black;
  font-family:"Trebuchet MS",sans-serif;
  font-size:11pt;
}

.attention {
  color:red;
}

.nav {
  color:black;
  font-family:Verdana,Helvetica,Arial,sans-serif;
  font-size:8pt;
}

.footer {
  color:black;
  font-family:"Trebuchet MS",sans-serif;
  font-size:10pt;
}

.news_date {
  color:rgb(96,96,96);
  font-size:10pt;
  font-weight:bold;
}

.news_headline {
  font-size:10pt;
  font-weight:bold;
}

input {
  color:black;
  font-family:Courier,"Courier New",monospace;
  font-size:10pt;
}

tt {
  color:black;
  font-family:Courier,"Courier New",monospace;
  font-size:10pt;
}

pre {
  color:black;
  background-color:rgb(230,230,255);
  padding:4px;
  padding-left:8px;
  margin-left:16px;
  margin-right:16px;
  font-family:Courier,"Courier New",monospace;
  font-size:10pt;
}

img {
  border:0;
}
