{
	"Description" = "This project builds a Cocoa-based application written in Python and Objective-C.";
	"FilesToMacroExpand" = (
		"Info.plist",
		"setup.py",
		"English.lproj/MainMenu.nib/classes.nib",
		"English.lproj/MainMenu.nib/keyedobjects.nib",
		"ÇPROJECTNAMEASIDENTIFIERÈ.py",
		"ÇPROJECTNAMEASIDENTIFIERÈAppDelegate.py",
        "ÇPROJECTNAMEASIDENTIFIERÈ.xcode/default.pbxuser",
        "ÇPROJECTNAMEASIDENTIFIERÈPlugIn-Info.plist",
        "ÇPROJECTNAMEASIDENTIFIERÈPlugIn.h",
        "ÇPROJECTNAMEASIDENTIFIERÈPlugIn.m",
        "ÇPROJECTNAMEASIDENTIFIERÈPlugIn.py",
    );
	"FilesToRename" = {
        "PROJECTNAMEASIDENTIFIER.py" = "ÇPROJECTNAMEASIDENTIFIERÈ.py";
        "PROJECTNAMEASIDENTIFIERAppDelegate.py" = "ÇPROJECTNAMEASIDENTIFIERÈAppDelegate.py";
        "PROJECTNAMEASIDENTIFIERPlugIn-Info.plist" = "ÇPROJECTNAMEASIDENTIFIERÈPlugIn-Info.plist";
        "PROJECTNAMEASIDENTIFIERPlugIn.h" = "ÇPROJECTNAMEASIDENTIFIERÈPlugIn.h";
        "PROJECTNAMEASIDENTIFIERPlugIn.m" = "ÇPROJECTNAMEASIDENTIFIERÈPlugIn.m";
        "PROJECTNAMEASIDENTIFIERPlugIn.py" = "ÇPROJECTNAMEASIDENTIFIERÈPlugIn.py";
    };
}
