<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>PyObjC - Documentation</title>
  </head>

  <body class="index">
    <p>The documentation reflects the current development version
        of PyObjC. This is currently moving towards a 2.2 release.</p>
    <p>The documentation is sadly enough slightly behind reality,
       I'm slowly working through it and hope to finish that work before
       2.2 is actually released.</p>

     <div py:for="section, description, links in documentation_sections">
       <h2>${section}</h2>

       <p py:if="description">${description}</p>

       <ul>
         <li py:for="title, link in links"><a href="${url(link)}">${title}</a></li>
       </ul>
     </div>
  </body>
</html>
