<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>PyObjC - News</title>
  </head>

  <body>
    <div py:for="item in news">
      <p><span class="news_date">${item['date']}</span>: <span class="news_headline">${item['headline']}</span>
      <img src="${url('img/grey_pixel.gif')}" height="1" width="100%" alt="-" /></p>
      ${Markup(item['body'])}
    </div>
  </body>
</html>
