<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title py:content="title">Sample name</title>
    <style>
      .sampledescr {
        margin-left: 20px;
      }
    </style>

  </head>

  <body>
    <h1 py:content="title">Sample name</h1>

    <div py:for="path, name, summary in samples">
      <h2 py:if="summary == -1">${name}</h2>
      <div py:if="summary != -1" class="sampledescr">
        <a href="${path}/index.html"><h3>${name}</h3></a>
        <p py:if="summary">${Markup(summary)}</p>
      </div>
    </div>
  </body>
</html>
