<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title py:content="title">Sample name</title>

    <style>
      .readme {
        background-color: #f8f8f8;
        border: 1px solid;
        margin-left: 2em;
        padding: 1em;
      }
    </style>

    <script type="text/javascript">
      function selectSource() {
          source=document.forms.sourceselector.sources.value;
          if (source != "") {
            document.location = source;
          }
      }
    </script>
  </head>

  <body class="index">
    <h1 py:content="title">Sample name</h1>

    <p><a href="${zipname}">Download the sample</a></p>

    <form name="sourceselector">
      <select name="sources" onchange="selectSource()">
        <option value="" selected="selected">Select a source file</option>
        <option py:for="name, path in sources" value="${path}">${name}</option>
      </select>
    </form>

    <noscript>
      <!-- add a list of files for users that don't have javascript enabled -->
      <ul>
        <li py:for="name, path in sources"><a href="${path}">${name}</a></li>
      </ul>
    </noscript>

    <div class="readme" py:content="Markup(readme)">Readme for the example</div>
  </body>
</html>
