<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This project builds a Core Data application.</string>
	<key>FilesToMacroExpand</key>
	<array>
		<string>xcPROJECTNAMEASIDENTIFIERxc_Prefix.pch</string>
		<string>xcPROJECTNAMEASIDENTIFIERxc_AppDelegate.py</string>
		<string>Info.plist</string>
		<string>English.lproj/InfoPlist.strings</string>
		<string>English.lproj/MainMenu.xib</string>
		<string>main.m</string>
		<string>main.py</string>
	</array>
	<key>FilesToRename</key>
	<dict>
		<key>AppDelegate.py</key>
		<string>xcPROJECTNAMEASIDENTIFIERxc_AppDelegate.py</string>
		<key>CocoaApp.xcdatamodel</key>
		<string>xcPROJECTNAMEASIDENTIFIERxc_DataModel.xcdatamodel</string>
		<key>CocoaApp_Prefix.pch</key>
		<string>xcPROJECTNAMEASIDENTIFIERxc_Prefix.pch</string>
	</dict>
</dict>
</plist>
