<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html 
  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:py="http://genshi.edgewall.org/" 
  py:strip="">
    <head py:match="head" py:attrs="select('@*')">
        <title py:with="title = list(select('title/text()'))">
            ${title}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="${url('/css/layout.css')}" type="text/css" />
        <link rel="stylesheet" href="${url('/css/rest.css')}" type="text/css" />

        <link py:replace="select('link')" />
        <link rel="start" href="${url('/index.html')}" />
        <link rel="copyright" href="${url('/legal.html')}" />
        <meta py:replace="select('meta')" />
        <script py:replace="select('script')" />
        <style py:replace="select('style')" />
    </head>
    <body py:match="body" py:attrs="select('@*')">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr valign="bottom">
                <td width="150" valign="middle" bgcolor="#FFFFFF" class="corner">
                    <center>
                      <a href="${url('/index.html')}"><img src="${url('/img/dogsnake.jpg')}" width="125" height="86" border="0" alt="PyObjC" /></a>
                    </center>
                </td>
                <td class="banner" width="15">
                    &nbsp;&nbsp;
                </td>
                <td align="left" class="banner" width="90%">
                    <span class="headbanner">PyObjC</span> <span class="subbanner">The Python &lt;-&gt; Objective-C Bridge</span>
                </td>
            </tr>
            <tr valign="top">
              <td width="150" align="left" style="background-image:url(${url('/img/top-line.gif')})" class="banner">
                <img src="${url('/img/title2-2.gif')}" width="125" height="8" border="0" alt="" />
                </td>
                <td colspan="2" width="90%" style="background-image:url(${url('/img/top-line.gif')})" class="banner">
                  <img src="${url('/img/shim.gif')}" width="1" height="8" border="0" alt="" />
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr valign="top">
                <td align="left" width="120" bgcolor="#EEEEEE" class="layout">
                    <table border="0" cellpadding="0" cellspacing="0" width="120">
                        <tr align="left">
                            <td colspan="2" bgcolor="#DDDDDD" class="layout">
                              <img src="${url('/img/sect-head.gif')}" width="120" height="26" border="0" alt="Sections:" />
                            </td>
                        </tr>
                        <tr py:for="title, link in topmenu" align="left">
                            <td colspan="2">
                              <a href="${url(link)}">${title}</a>
                            </td>
                        </tr>
                        <tr align="left">
                            <td height="3" colspan="2" bgcolor="#999999" class="layout"></td>
                        </tr>
                        <tr align="left" py:if="bottommenu">
                            <td colspan="2" bgcolor="#DDDDDD" class="layout">
                              <img src="${url('/img/nav-head.gif')}" width="120" height="26" border="0" alt="Navigation:" />
                            </td>
                        </tr>
                        <tr py:for="title, link in bottommenu" class="layout" align="left" valign="middle" >
                            <td py:if="not link" class="layout">
                              <img src="${url('/img/nav-downicon.gif')}" width="18" height="15" border="0" alt="- " />
                            </td>
                            <td py:if="not link" bgcolor="#87B9E7" class="layout">
                              <span class="nav">${title}</span>
                            </td>
                            <td py:if="link" class="layout">
                              <a href="${url(link)}"><img src="${url('/img/nav-normicon.gif')}" width="18" height="15" border="0" alt="- "/></a>
                            </td>
                            <td py:if="link" class="layout">
                              <span class="nav"><a href="${url(link)}">${title}</a></span>
                            </td>
                        </tr>
                        <tr class="layout" bgcolor="#FFFFFF" py:if="bottommenu">
                            <td class="layout" height="1"></td>
                            <td class="layout" height="1"></td>
                        </tr>
                        <tr align="left">
                            <td height="3" colspan="2" bgcolor="#999999" class="layout"></td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                    <p>
                        We're hosted on:<br />
                        <a href="http://sourceforge.net"><img src="http://sourceforge.net/sflogo.php?group_id=14534&amp;type=1" width="88" height="31" border="0" alt="SourceForge.net Logo" /></a>
                    </p>
                    <p>
                        Subversion hosting<br />
                        <a href="http://www.red-bean.com/"><img src="http://www.red-bean.com/images/bean-brought.jpg" width="100" /></a>
                    </p>
                    <hr/>
                    <p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                      <input type="hidden" name="cmd" value="_s-xclick" />
                      <input type="hidden" name="hosted_button_id" value="5655733" />
                      &nbsp;&nbsp;<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
                      <img alt="" border="0" src="https://www.paypal.com/nl_NL/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                    </p>
                </td>
                <td align="left" width="100%">
                    ${select('*|text()')}
                </td>
            </tr>
            <tr valign="middle" align="left">
              <td bgcolor="#EEEEEE" align="center" width="120" style="background-image:url(${url('/img/stripes.gif')})">
                    <a href="../legal.php" style="text-decoration:none;color:black;font-size:10pt;">Copyright&nbsp;©&nbsp;2003 - 2009 The&nbsp;PyObjC&nbsp;Project</a>
                </td>
                <td class="layout">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td width="100%">
                                <div class="footer" align="center"></div>
                            </td>
                        </tr>
                        <tr>
                            <td height="7" class="layout">
                              <img src="${url('/img/shim.gif')}" width="1" height="7" border="0" alt="" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
