include *.txt MANIFEST.in *.py
graft metadata
graft Doc
graft Examples
graft Lib
graft Modules
graft source-deps
graft PyObjCTest
global-exclude .DS_Store
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude *.dSYM
global-exclude *.dSYM/*
global-exclude __pycache__
global-exclude __pycache__/*
