h1,h2,h3 {
	color: #111144;
	background-image: url(greypinstripe.png);
	border-top-style: solid; 
	border-top-width: 1 
}
pre {
	color: #000080; 
	margin-left: 90;
}
p {
	margin-left: 10;
	margin-right: 10;
}
ul {
	margin-left: 30;
}
blockquote {
	margin-left: 90;
}
th {
	// background-color: #F5F5F5; 
	background-image: url(greypinstripe.png);
	color: #111144;
}
td {
	vertical-align: top;
}
body {
	background-color: #FFFFFF; 
	color: #000000;
	font-family: Arial, Helvetica;
}
a:link {
	color: #3333e0;
	text-decoration: none;
}
a:visited {
	color: #1111aa;
	text-decoration: none;
}
a:active {
	color: #111133;
	text-decoration: none;
}
