; General config options
;
; Setting build_togl to zero will avoid trying to build Togl
;
; gl_platform is the name of the platform specific OpenGL module
; For X-windows this GLX, Windows has WGL, etc.
;
; include_dirs and library_dirs are a os.pathsep separated list of
; additional directories for headers and libraries.  No quotes
; are needed
[General]
build_togl=1
gl_platform=GLX
include_dirs=/usr/include:/usr/local/include:/usr/X11/include
library_dirs=/usr/lib32:/usr/lib:/usr/local/lib:/usr/X11/lib

; a os.pathsep separated list of the libs needed when linking GL
[GL]
libs=GL:X11:Xext

; a os.pathsep separated list of the libs needed when linking GLU
; the GL libraries are included automatically
[GLU]
libs=GLU

; a os.pathsep separated list of the libs needed when linking GLUT
; the GL and GLU libraries are included automatically
[GLUT]
libs=glut:Xi:Xmu

; a comma separated list of the libs needed when linking Togl
; the GL and GLU libraries are included automatically
[Togl]
libs=Xmu:Xt:m
