; General config options
;
; Setting build_togl to zero will avoid trying to build Togl
;
; gl_platform is the name of the platform specific OpenGL module
; For X-windows this GLX, Windows has WGL, etc.
;
; include_dirs and library_dirs are a sys.pathsep separated list of
; additional directories for headers and libraries.  No quotes
; are needed
[General]
build_togl=0
gl_platform=AGL
include_dirs=/dev/env/DJDIR/include
library_dirs=

; a sys.pathsep separated list of the libs needed when linking GL
[GL]
libs=gle;interface_util;igl

; a sys.pathsep separated list of the libs needed when linking GLU
; the GL libraries are included automatically
[GLU]
libs=gle;interface_util;iglu;igl

; a sys.pathsep separated list of the libs needed when linking GLUT
; the GL and GLU libraries are included automatically
[GLUT]
libs=gle;interface_util;iglut;iglu;igl

; a comma separated list of the libs needed when linking Togl
; the GL and GLU libraries are included automatically
; [Togl]
; libs=Xmu;Xt;X11;grx20
