{
	FilesToRename = {
		"CocoaApp_Prefix.pch" = "ÇPROJECTNAMEASIDENTIFIERÈ_Prefix.pch";
		"CocoaAppDelegate.py" = "ÇPROJECTNAMEASIDENTIFIERÈAppDelegate.py";
	};
	FilesToMacroExpand = (
		"__main__.py",
		"ÇPROJECTNAMEASIDENTIFIERÈAppDelegate.py",
		"ÇPROJECTNAMEASIDENTIFIERÈ_Prefix.pch",
		"Info.plist",
		"English.lproj/InfoPlist.strings",
		"English.lproj/MainMenu.nib/classes.nib",
		"English.lproj/MainMenu.nib/keyedobjects.nib",
		"main.m",
	);
	Description = "This project builds a Cocoa-based application written in Python and Objective-C.";
}
