{
	"Description" = "This project builds a Cocoa-based application written in Python.";
	"FilesToMacroExpand" = (
		"Info.plist",
		"setup.py",
		"English.lproj/MainMenu.nib/classes.nib",
		"English.lproj/MainMenu.nib/keyedobjects.nib",
		"ÇPROJECTNAMEASIDENTIFIERÈ.py",
		"ÇPROJECTNAMEASIDENTIFIERÈAppDelegate.py",
        "ÇPROJECTNAMEASIDENTIFIERÈ.xcode/default.pbxuser",
    );
	"FilesToRename" = {
        "PROJECTNAMEASIDENTIFIER.py" = "ÇPROJECTNAMEASIDENTIFIERÈ.py";
        "PROJECTNAMEASIDENTIFIERAppDelegate.py" = "ÇPROJECTNAMEASIDENTIFIERÈAppDelegate.py";
    };
}
