<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>PyObjC - A python&lt;-&gt;Objective-C Bridge</title>
  </head>

  <body class="index">

    <p>The PyObjC project aims to provide a bridge between the Python and Objective-C programming languages. The bridge is intended to be fully bidirectional, allowing the Python programmer to take full advantage of the power provided by various Objective-C based toolkits and the Objective-C programmer transparent access to Python based functionality.</p>

    <p>The most important usage of this is writing Cocoa GUI applications on Mac OS X in pure Python. See our tutorial for an example of this.</p>

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr valign="top"><td width="50%">


      <h1>News</h1>

      <div py:for="item in news">
        <p><span class="news_date">${item['date']}</span>: <span class="news_headline">${item['headline']}</span>
        <img src="${url('img/grey_pixel.gif')}" height="1" width="100%" alt="-" /></p>
        ${Markup(item['body'])}
      </div>

      <div align="right"><a href="${url('/news.html')}">All news...</a></div>

      </td><td>&nbsp;&nbsp;&nbsp;</td><td width="50%">

      <h1>Status</h1>

      <p><a href="${url('/downloads.html')}">PyObjC ${pyobjc_version}</a> was released on ${pyobjc_release_date}. See 
      the <a href="${url('/documentation/pyobjc-core/news.html')}">NEWS file</a> for details.</p>

      <p>PyObjC supports Mac OS X 10.3.9 and later, earlier versions are 
      not supported. </p>

      <h1>Resources</h1>

      <p>Support is currently limited to 
      <a href="http://lists.sourceforge.net/mailman/listinfo/pyobjc-dev">the developer's mailing list</a>.</p>

      <p>
      The PyObjC project is hosted by <a href="http://sourceforge.net/">SourceForge</a>.
      In addition to hosting this site and the downloads, SourceForge
      provides the following resources for the project:
      </p>
      <ul>
        <li><a href="http://sourceforge.net/projects/pyobjc/">Project page</a></li>
        <li><a
          href="http://sourceforge.net/tracker/?group_id=14534&amp;atid=114534">Bug tracker</a></li>
        <li><a href="http://sourceforge.net/project/showfiles.php?group_id=14534">Files</a></li>
      </ul>

      <p>Our repository is hosted by <a href="http://www.red-bean.com/">red-bean.com</a>. The subversion repository 
      can be accessed <a href="http://svn.red-bean.com/pyobjc/">here</a>.</p>

      </td></tr></table>
  </body>
</html>
