graft config
graft setup
graft interface
graft sample_interface
graft src
graft OpenGL
include setup.py
include MANIFEST.in
include MANIFEST-framework.in
include README
global-exclude CVS/*
global-exclude cvs/*
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pdb
exclude OpenGL/doc/manual.xml
exclude OpenGL/doc/html/*
