[run]
branch = True

[report]
exclude_lines =
    pragma: no 3.x cover
    pragma: no cover
    def __repr__
    if 0:
    if __name__ == .__main__.:

partial_branches =
    pragma: no branch

omit =
   PyObjCTest/*
   setup*
