<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This project builds a Cocoa-based application written in Python and Objective-C.</string>
	<key>FilesToMacroExpand</key>
	<array>
		<string>Info.plist</string>
		<string>setup.py</string>
		<string>English.lproj/MainMenu.nib/classes.nib</string>
		<string>English.lproj/MainMenu.nib/keyedobjects.nib</string>
		<string>«PROJECTNAMEASIDENTIFIER».py</string>
		<string>«PROJECTNAMEASIDENTIFIER»AppDelegate.py</string>
		<string>«PROJECTNAMEASIDENTIFIER».xcode/default.pbxuser</string>
		<string>«PROJECTNAMEASIDENTIFIER»PlugIn-Info.plist</string>
		<string>«PROJECTNAMEASIDENTIFIER»PlugIn.h</string>
		<string>«PROJECTNAMEASIDENTIFIER»PlugIn.m</string>
		<string>«PROJECTNAMEASIDENTIFIER»PlugIn.py</string>
	</array>
	<key>FilesToRename</key>
	<dict>
		<key>PROJECTNAMEASIDENTIFIER.py</key>
		<string>«PROJECTNAMEASIDENTIFIER».py</string>
		<key>PROJECTNAMEASIDENTIFIERAppDelegate.py</key>
		<string>«PROJECTNAMEASIDENTIFIER»AppDelegate.py</string>
		<key>PROJECTNAMEASIDENTIFIERPlugIn-Info.plist</key>
		<string>«PROJECTNAMEASIDENTIFIER»PlugIn-Info.plist</string>
		<key>PROJECTNAMEASIDENTIFIERPlugIn.h</key>
		<string>«PROJECTNAMEASIDENTIFIER»PlugIn.h</string>
		<key>PROJECTNAMEASIDENTIFIERPlugIn.m</key>
		<string>«PROJECTNAMEASIDENTIFIER»PlugIn.m</string>
		<key>PROJECTNAMEASIDENTIFIERPlugIn.py</key>
		<string>«PROJECTNAMEASIDENTIFIER»PlugIn.py</string>
	</dict>
</dict>
</plist>
