setuptools
sphinx-sitemap
sphinxcontrib.spelling
sphinx
shibuya
sphinx-copybutton
sphinx-design
sphinx-tabs
sphinx-togglebutton
sphinx-docsearch
sphinxcontrib-mermaid
sphinx-reredirects
sphinxext-opengraph[social-cards]
sphinx-datatables
