include *.txt MANIFEST.in setup.py
graft Doc
graft Examples
graft Lib
graft Modules
graft Scripts
graft libffi-src
graft setup-lib
graft source-deps
global-exclude .DS_Store
global-exclude *.pyc
global-exclude *.so
